._customer_message_div{
  width: 100%;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  ._chat_message_template_set{
    float:right;
    padding-left:5px;
    width:100%;
    ._text_div{
      width:100%;
      float:right;
      ._text{
        width:auto;
        float:right;
        background-color: #333;
        min-width:100px;
        max-width:80%;
        margin-bottom:5px;
        padding: 12px 20px;
        border-radius: 15px 0px 15px 15px;
        color:#fff;
        font-weight:200;
        font-size:13px;
        position: relative;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
  ._time{
    width:auto;
    float:right;
    font-size: 11px;
    color:#666;
    font-weight: 200;
    padding-right:5px;
  }
}