/* 채널명:MAIN */
.font_t1{
  font-size:16px; font-weight:400; color:#333;
  line-height: 1.4em;
}
/* 채널명:Message */
.font_t2{
  font-size:15px; font-weight:400; color:#333;
  line-height: 1.4em;
}
/* 이전 대화 목록 제목 */
.font_t3{
  font-size:20px; font-weight:200; color:#34344D;
  line-height: 1.4em;
}
/* 프로필관리 목록 제목 */
.font_t4{
  font-size:20px; font-weight:200; color:#444;
  line-height: 1.4em;
}
/* 채널 서브명 */
.font_d1{
  font-size:11px; font-weight:300; color:#999;
  line-height: 1em;
}
/* 채널 설명 */
.font_d2{
  font-size:12px; font-weight:200; color:#666;
  line-height: 1.4em;
}
.font_d3{
  font-size:10px; font-weight:400; color:#555;
  line-height: 1em;
}


/* 이전 대화 목록 날짜 */
.font_d4{
  font-size:12px; font-weight:200; color:#888;
  line-height: 1em;
}
.font_d5{
  font-size:14px; font-weight:200; color:#777;
  line-height: 1em;
}

/* 메시지 박스 내 메시지 */
.font_d7{
  font-size:12px; font-weight:300; color:#333;
  line-height: 1.4em;
}
.font_d8{
  font-size:12px; font-weight:400; color:#333;
  line-height: 1em;
}
.font_d9{
  font-size:12px; font-weight:500; color:#555;
  line-height: 1em;
}
.font_d10{
  font-size:12px; font-weight:300; color:#666;
  line-height: 1em;
}
.font_dt3{
  font-size:10px; font-weight:200; color:#777;
  line-height: 1em;
}

/* 프로필관리 label */
.font_d6{
  font-size:13px; font-weight:200; color:#333;
  line-height: 1em;
}

/* Copyright */
.font_b1{
  font-size:11px; font-weight:300; color:#444;
  line-height: 1em;
}
/* 메시지박스 제목 */
.font_b2{
  font-size:12px; font-weight:300; color:#777;
  line-height: 1em;
}

/* 프로필관리 name */
.font_b3{
  font-size:13px; font-weight:400; color:#444;
  line-height: 1em;
}



/* 메시지 박스 내용 */
.font_m1{
  font-size:12px; font-weight:300; color:#333;
  line-height: 1.4em;
}
.font_m4{
  font-size:12px; font-weight:300; color:#555;
  line-height: 1.5em;
}
/* 메시지 박스 시간 */
.font_dt1{
  font-size:10px; font-weight:200; color:#666;
  line-height: 1em;
}
.font_dt2{
  font-size:11px; font-weight:200; color:#888;
  line-height: 1em;
}


/* 메시지 박스 검색 문구 */
.font_m2{
  font-size:12px; font-weight:200; color:#999;
  line-height: 1.5em;
}
.font_m3{
  font-size:14px; font-weight:300; color:#333;
  line-height: 1.5em;
}
