._chat_middle {
  width:calc(100% - 14px);
  margin-left:7px;
  height:calc(100% - 122px);
  background-color: #fff;
  position:relative;
  border-radius: 6px 6px 0 0;
  
  border:1px solid #ddd;
  border-bottom:0px;
  // padding:10px 2px 2px 2px;
  float:left;

  ._message_div{
    position: relative;
    width:calc(100% - 0px);
    height:calc(100% - 0px);
    overflow: hidden;

    ._message_layout{
      width:100%;
      height: calc(100% - 30px);
      /* border:1px solid #fff; */
      padding: 15px 15px 15px 11px;
      position: relative;
      ._message_set{
        margin-top:10px;
        overflow: hidden;
        padding-bottom:4px;
      }

    }

  }
}